body {
	color: $white;
	font-size: 16px;
	line-height: 1.61803398875;
	letter-spacing: 1px;
}
a {
	color: $cyan-100;
	&:hover {
		color: $cyan;
		text-shadow: 0 0 19px #ff8d00;
	}
}
nav {
	.a11y-hidden {
		font-size: 1em;
		margin: 0;
		position: absolute;
		left: -9999em;
	}
	ul {
		list-style: none;
	}
	li {
		display: inline-block;
	}
	a {
		padding: 0 .5em;
	}
}
.main-container {
	background: $grey-900;
}
.wrap, .section-block, .layout {
	padding: 0.8em;
	background: $black;
}
.header-nav {
	ul {
		margin: 0;
		padding: 0;
	}
}
.branding h1, .layout h1, .layout h2, .layout h3 {
	color: $cyan-300;
	text-shadow: -1px 1px 1px #fdb74d;
}
.section, .section-2, .section-3, .section-4, .section-5 {
	@include clearfix;
}
.article img, .image-block img, .article-1 img, .article-2 img, .image-block-2 img {
	@include size(100% auto);
}
.article img {
	border-bottom-right-radius: 7em;
}
.image-block-2 img {
	border-top-left-radius: 15em;
	border-top-right-radius: 14em;
}
.article-1 .saying {
	margin-top: -2em;
}
.article-1  {
	text-align: center;
}
.section-img .overlay {
	background: rgba($grey-900, .6);
	border-radius: 1em;
}
.section-img .wide-section {
	padding: 9.750em 0;
}
.section-img {
	text-align: center;
}
.footer {
	text-align: center;
}