.wrap, .section-block, .layout {
	@include susy-breakpoint($small) {
		padding: 2em;
		@include container(100%);
	}
	@include susy-breakpoint($medium) {
		padding: 1em;
		@include container(100%);
	}
	@include susy-breakpoint($large) {
		padding: .8em;
		@include container(90%);
	}
}
.branding {
	text-align: center;
	@include susy-breakpoint($medium) {
		@include span(4);
		text-align: left;
	}
}
.header-nav {
	padding-top: 0;
	text-align: center;
	@include susy-breakpoint($medium) {
		@include span(8 last);
		padding-top: 2em;
		text-align: right;
	}
}
.section .article {
	@include susy-breakpoint($small) {
		@include span(12);
	}
	@include susy-breakpoint($medium $large) {
		@include span(6);
		&:nth-of-type(even) {
			@include last;
		}
	}
	@include susy-breakpoint($large) {
		@include span(3);
		&:last-child {
			@include last;
		}
	}
}
.article .design {
	@include susy-breakpoint($small) {
		text-align: right;
	}
	@include susy-breakpoint($medium) {
		text-align: right;
	}
	@include susy-breakpoint($large) {
		text-align: center;
	}
}
.article img {
	@include susy-breakpoint($small) {
		&.banksy {
			border-top-left-radius: 7em;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 7em;
		}
		&.idea {
			border-top-right-radius: 7em;
			border-bottom-left-radius: 7em;
			border-bottom-right-radius: 0;
		}
		border-top-left-radius: 7em;
		border-bottom-right-radius: 7em;
	}
	@include susy-breakpoint($medium) {
		&.banksy {
			border-top-left-radius: 7em;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 7em;
		}
		&.idea {
			border-top-right-radius: 7em;
			border-bottom-left-radius: 7em;
			border-bottom-right-radius: 0;
		}
		border-top-left-radius: 0;
		border-bottom-right-radius: 7em;
	}
	@include susy-breakpoint($large) {
		&.banksy {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 7em;
		}
		&.idea {
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 7em;
		}
		border-top-left-radius: 0;
		border-bottom-right-radius: 7em;
	}

}
.section-2 .image-block, .section-5 .article-text {
	@include susy-breakpoint($large) {
		@include span(6);
	}
}
.section-2 .article-text, .section-5 .image-block-2 {
	@include susy-breakpoint($large) {
		@include span(6);
		&:last-child {
			@include last;
		}
	}
}
.section-3 .article-1 {
	@include susy-breakpoint($large) {
		@include span(4);
		text-align: center;
		&:last-child {
			@include last;
		}
	}
}
.section-4 .article-2 {
	@include susy-breakpoint($small) {
		@include span(12);
	}
	@include susy-breakpoint($medium $large) {
		@include span(6);
		&:nth-of-type(even) {
			@include last;
		}
	}
	@include susy-breakpoint($large) {
		@include span(6);
		text-align: center;
		&:last-child {
			@include last;
		}
	}
}
.main-content {
	@include susy-breakpoint($small) {
		@include span(12);
	}
	@include susy-breakpoint($medium $large) {
		@include span(6);
	}
	@include susy-breakpoint($large) {
		@include span(8);
	}
}
.aside {
	@include susy-breakpoint($small) {
		@include span(12);
	}
	@include susy-breakpoint($medium $large) {
		@include span(6);
		&:last-child {
			@include last;
		}
	}
	@include susy-breakpoint($large) {
		@include span(4);
		&:last-child {
			@include last;
		}
	}
}

